---
import Layout from "../layouts/Layout.astro"
import ModalJetAdd from "../components/modals/ModalJetAdd"
import TableModal from "../components/table/TableModal"
import { getAirships } from "../../lib/actions/airships/actions"

const data = await getAirships()
---

<Layout title="Airships">
	<div class="flex flex-col space-y-4">
		<div>
			<ModalJetAdd client:load />
		</div>
		<div>
			<TableModal info={data} caseType="airship" client:load />
		</div>
	</div>
</Layout>
