---
import Layout from "../layouts/Layout.astro"
import ModalAddJet from "../components/modalAddJet.astro"
import TableModal from "../components/table/TableModal"

import { getAirships } from "../../lib/actions/airships/actions"


const deleteUrl = "http://localhost:3001/airship"
const who = "airship"

const data = await getAirships()

// Definir los encabezados con claves que coincidan con las propiedades de los objetos 'jets'

---

<Layout title="Airships">
	<div class="flex flex-col space-y-4">
		<div>
			<ModalAddJet />
		</div>
		<div>
			<TableModal
				info={data}
				url={deleteUrl}
				client:load
			/>
		</div>
	</div>
</Layout>
