---
import Layout from "../layouts/Layout.astro"
import ModalAdd from "../components/modalAdd"
import TableModal from "../components/table/TableModal"
import { getClients } from "../../lib/actions/clients/actions"

const deleteUrl = "http://localhost:3001/client"
const data = await getClients()


// Definir los encabezados con claves que coincidan con las propiedades de los objetos 'clients'

---

<Layout title="Clients">
	<div class="flex flex-col space-y-4">
		<div>
			<ModalAdd client:load />
		</div>
		<div>
			<TableModal info={data} url={deleteUrl} client:load />
		</div>
	</div>
</Layout>
