---
import Layout from "../layouts/Layout.astro";

import TableModal from "../components/table/TableModal.astro";

const deleteUrl = 'http://localhost:3001/flight';
const response = await fetch('http://localhost:3001/flights');
const flight = await response.json();

// Definir los encabezados con claves que coincidan con las propiedades de los objetos 'Flight'
const headers = [
  { label: "launchtime", key: "launchtime" },
  { label: "arrivaltime", key: "arrivaltime" },
  { label: "to", key: "to" },  
  { label: "airship", key: "airship" },
  { label: "createdby", key: "createdby" },

];
---

<Layout title="Flights">
  <div class="flex flex-col space-y-4">
    <div>
      <TableModal headers={headers} rows={flight} url{deleteUrl} />
    </div>
  </div>
  </Layout>
</Layout>