---
import { getFlights } from "../../lib/actions/flights/actions"
import TableModal, { type Flight } from "../components/table/TableModal"
import Layout from "../layouts/Layout.astro"

const data = await getFlights()
const filteredData = data.filter((flight: Flight) => {
	const arrivalTime = new Date(flight.arrivaltime)
	const currentTime = new Date()

	return currentTime > arrivalTime
})
---

<Layout title="History">
	<div class="flex">
		<TableModal info={filteredData} caseType={"flight"} client:load />
	</div>
</Layout>
