---
import { LoginCard } from "../components/cards/LoginCard"
import Layout from "../layouts/Layout.astro"
---

<Layout title="TangoJet">
	<div class="min-h-screen w-[600px] flex flex-col items-center justify-center">
		<div
			class="bg-white bg-opacity-10 backdrop-blur-md p-8 rounded-lg shadow-lg text-center mx-auto"
		>
			<LoginCard client:load />
		</div>
	</div>
</Layout>
