---
import Layout from "../layouts/Layout.astro"
---

<Layout title="TangoJet">
	<div class="min-h-screen flex flex-col items-center justify-center">
		<div
			class="bg-white bg-opacity-10 backdrop-blur-md p-8 rounded-lg shadow-lg text-center max-w-lg mx-auto"
		>
			<h1 class="text-4xl font-bold mb-4">Bienvenido a Tango Jet</h1>
			<p class="text-lg text-gray-200">Esto es solo para completar la Home</p>
		</div>
	</div>
</Layout>
